{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="pageReserver/pageReserver.css" rel="stylesheet" type="text/css">   
{% endblock %}

{% block header %}
    <div class="row justify-content-center">
        <div class="card carte">
            <img src="pageAccueil/images/imgReserver.jpg" class="card-img-top mx-auto">
            <p class="card-text"> 
                Pour tout retard de plus de 20 min votre table sera donnée à d'autres clients.<br>
                20 convives maximum.
            </p>
            {{ form_start(reservations) }}
                <div class="card-body">

                    <div class="row">
                        <div class="col-12 col-md input-group inputLastName">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </span>
                            <input type="text" class="form-control lastName" placeholder="Nom" required name="{{ reservations.nom.vars.full_name }}" id="{{ reservations.nom.vars.id }}" 
                            {% if app.user %} value="{{ app.user.nom }}" {% endif %}>  
                            {% do reservations.nom.setRendered %} 
                            
                                                                                        
                        </div>
                        <div class="col-12 col-md input-group inputName">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                </svg>
                            </span>
                            <input class="form-control" placeholder="Prénom" required name="{{ reservations.prenom.vars.full_name }}" id="{{ reservations.prenom.vars.id }}" 
                            {% if app.user %} value="{{ app.user.prenom }}" {% endif %}>
                            {% do reservations.prenom.setRendered %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                    <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"/>
                                </svg>
                            </span>
                            <input class="form-control" type="email" placeholder="Email" required name="{{ reservations.email.vars.full_name }}" id="{{ reservations.email.vars.id }}" 
                            {% if app.user %} value="{{ app.user.email }}" {% endif %}>  
                            {% do reservations.email.setRendered %}
                        </div>  
                        <div class="col-12 col-md input-group">                 
                            <span class="input-group-text">
                                <svg height="16px" width="16px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
                                <g>
                                    <polyline style="fill:#F2F2F2;" points="229.038,303.8 273.6,348.352 292.494,329.46 247.93,284.907 	"/>
                                    <path style="fill:#F2F2F2;" d="M216.13,290.892L13.007,87.77c-8.995-9.007-3.585-24.423,9.071-25.824
                                        c4.476-0.489,8.952-0.739,13.396-0.739c32.255,0,63.436,12.765,86.501,35.83l144.056,144.056"/>
                                </g>
                                <path style="fill:#F97E62;" d="M227.433,338.175L107.14,471.565c-13.553,16.013-37.892,17.015-52.721,2.187
                                    c-14.84-14.829-13.826-39.167,2.175-52.732l133.39-120.281l9.282,9.271l18.883,18.895L227.433,338.175z"/>
                                <g>
                                    <path style="fill:#F2F2F2;" d="M218.151,328.904l-18.883-18.895L301.497,207.78c2.164,3.189,4.67,6.219,7.494,9.043
                                        c3.656,3.667,7.665,6.777,11.902,9.339L218.151,328.904z"/>
                                    <path style="fill:#F2F2F2;" d="M301.497,207.78c-10.296-25.421-10.865-30.352-10.865-35.272c0-16.047,6.116-32.095,18.359-44.327
                                        l21.526-21.526c-4.077,4.077-6.116,9.43-6.116,14.772c0,5.342,2.039,10.694,6.116,14.772c8.166,8.155,21.389,8.155,29.555,0
                                        c-4.089,4.077-6.127,9.43-6.127,14.772c0,5.353,2.039,10.694,6.127,14.783c8.155,8.155,21.389,8.155,29.544,0
                                        c-4.077,4.077-6.116,9.419-6.116,14.772s2.039,10.694,6.116,14.772c8.166,8.166,21.389,8.166,29.555,0l-21.537,21.526
                                        c-20.819,20.819-52.629,23.94-76.74,9.339c-4.237-2.563-8.246-5.672-11.902-9.339C306.166,213.998,303.661,210.969,301.497,207.78z
                                        "/>
                                </g>
                                <path style="fill:#F97E62;" d="M423.321,479.184L423.321,479.184c-14.832,14.832-39.173,13.825-52.73-2.182L264.326,357.631
                                    l37.442-37.442l119.371,106.266C437.147,440.011,438.155,464.352,423.321,479.184z"/>
                                <path d="M509.498,104.944c-3.336-3.336-8.745-3.336-12.079,0l-84.288,84.288c-4.816,4.816-12.652,4.816-17.47,0
                                    c-4.816-4.816-4.816-12.653,0-17.47l84.288-84.288c3.336-3.336,3.336-8.745,0-12.079c-3.335-3.337-8.743-3.336-12.079,0
                                    l-84.288,84.288c-4.815,4.816-12.652,4.816-17.469,0s-4.816-12.652,0-17.469L450.4,57.926c3.336-3.336,3.336-8.745,0-12.079
                                    c-3.336-3.336-8.745-3.336-12.079,0l-84.288,84.288c-4.816,4.816-12.652,4.816-17.47,0c-4.816-4.816-4.816-12.653,0-17.47
                                    l84.288-84.288c3.336-3.336,3.336-8.745,0-12.079c-3.335-3.336-8.743-3.336-12.079,0L302.954,122.116
                                    c-22.8,22.8-26.865,57.332-12.226,84.335l-91.458,91.457l-3.235-3.235c-3.214-3.214-8.384-3.348-11.76-0.304l-133.3,120.2
                                    c-9.382,7.997-15.053,19.638-15.563,31.96c-0.513,12.369,4.215,24.483,12.969,33.237c8.324,8.324,19.685,13.006,31.415,13.006
                                    c0.605,0,1.214-0.013,1.821-0.038c12.322-0.51,23.964-6.181,31.961-15.564l120.202-133.298c3.044-3.376,2.911-8.545-0.304-11.76
                                    l-3.235-3.235l76.503-76.503c3.336-3.336,3.336-8.745,0-12.079c-3.336-3.336-8.745-3.336-12.079,0l-76.503,76.504l-6.812-6.812
                                    l89.431-89.43c0.707,0.772,1.426,1.539,2.173,2.286c13.886,13.886,32.126,20.829,50.364,20.829c18.24,0,36.478-6.943,50.364-20.829
                                    L509.5,117.025C512.834,113.689,512.834,108.28,509.498,104.944z M100.806,465.826c-0.059,0.066-0.117,0.132-0.174,0.199
                                    c-4.995,5.898-12,9.323-19.722,9.642c-7.726,0.315-14.985-2.515-20.45-7.979c-5.465-5.466-8.299-12.729-7.979-20.45
                                    c0.32-7.723,3.745-14.726,9.642-19.722c0.067-0.057,0.134-0.115,0.199-0.174L189.688,312.49l25.97,25.97L100.806,465.826z
                                    M315.032,210.764c-21.11-21.11-21.11-55.459,0-76.568l2.643-2.643c1.424,3.893,3.688,7.544,6.806,10.663
                                    c5.739,5.739,13.276,8.608,20.815,8.608c0.043,0,0.087-0.002,0.13-0.003c-0.033,7.581,2.834,15.173,8.605,20.944
                                    c5.739,5.739,13.276,8.608,20.814,8.608c0.043,0,0.087-0.002,0.13-0.003c-0.033,7.581,2.834,15.174,8.606,20.945
                                    c3.118,3.118,6.771,5.383,10.664,6.806l-2.643,2.643C370.49,231.872,336.142,231.874,315.032,210.764z"/>
                                <path d="M65.498,140.236c3.336-3.336,3.336-8.745,0-12.079L19.051,81.709c-2.665-2.668-1.984-5.714-1.567-6.9
                                    c0.416-1.184,1.788-3.984,5.523-4.397c4.181-0.457,8.376-0.688,12.469-0.688c29.954,0,59.28,12.148,80.46,33.328l126.617,126.616
                                    c1.667,1.667,3.854,2.502,6.04,2.502s4.372-0.834,6.04-2.502c3.336-3.336,3.336-8.745,0-12.079L128.014,90.972
                                    c-24.36-24.36-58.089-38.331-92.539-38.331c-4.709,0-9.529,0.265-14.336,0.79c-9.147,1.013-16.724,7.035-19.774,15.716
                                    C-1.686,77.83,0.46,87.27,6.967,93.785l46.452,46.452C56.755,143.572,62.163,143.572,65.498,140.236z"/>
                                <path d="M70.762,145.5c-3.336,3.336-3.336,8.745,0,12.079L192.65,279.469c1.667,1.667,3.854,2.502,6.04,2.502
                                    s4.372-0.834,6.04-2.502c3.336-3.336,3.336-8.745,0-12.079L82.841,145.5C79.507,142.164,74.098,142.164,70.762,145.5z"/>
                                <path d="M426.745,419.983l-26.672-23.744c-3.523-3.135-8.921-2.823-12.06,0.7c-3.137,3.524-2.823,8.922,0.7,12.06l26.746,23.81
                                    c0.052,0.047,0.106,0.093,0.159,0.139c5.897,4.994,9.322,11.999,9.641,19.72c0.32,7.723-2.514,14.986-7.979,20.452
                                    c-5.466,5.465-12.735,8.298-20.45,7.979c-7.722-0.319-14.726-3.744-19.722-9.642c-0.046-0.054-0.091-0.107-0.138-0.159
                                    L276.064,357.947l26.044-26.044l68.424,60.912c3.523,3.137,8.922,2.825,12.06-0.7c3.137-3.524,2.823-8.922-0.7-12.06l-74.444-66.271
                                    c-3.379-3.009-8.519-2.86-11.719,0.341l-3.235,3.235l-12.377-12.37c-3.337-3.336-8.746-3.334-12.079,0.003
                                    c-3.335,3.337-3.334,8.746,0.003,12.079l12.371,12.364l-6.812,6.812l-12.374-12.366c-3.337-3.336-8.746-3.334-12.079,0.003
                                    c-3.335,3.337-3.334,8.746,0.003,12.079l12.373,12.365l-3.235,3.235c-3.2,3.2-3.348,8.339-0.341,11.72l106.2,119.297
                                    c7.999,9.396,19.649,15.076,31.981,15.586c0.608,0.025,1.214,0.038,1.821,0.038c11.73,0,23.092-4.683,31.415-13.006
                                    c8.754-8.754,13.48-20.868,12.969-33.238C441.82,439.631,436.141,427.982,426.745,419.983z"/>
                                </svg>
                            </span>
                            <select class="form-select" required name="{{ reservations.convives.vars.full_name }}" id="{{ reservations.convives.vars.id }}">
                                {% if app.user %} 
                                    <option value="{{ app.user.convives }}">{{ app.user.convives }}</option>
                                    {% else %}
                                    <option value="">Nombre de convives</option>
                                {% endif %}    
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                            </select> 
                            {% do reservations.convives.setRendered %}                                        
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-12 col-md input-group ">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-week" viewBox="0 0 16 16">
                                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
                                    <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-2 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                                </svg>
                            </span>
                            <input type="date" class="datepicker" required name="{{ reservations.date.vars.full_name }}" id="{{ reservations.date.vars.id }}">
                            {% do reservations.date.setRendered %}                   
                        </div>
                        <div class="col-12 col-md input-group">
                            <span class="input-group-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
                                    <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                                    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                                </svg>
                            </span>
                            <input class="form-control" readonly required name="{{ reservations.time.vars.full_name }}" id="{{ reservations.time.vars.id}}"> 
                            {% do reservations.time.setRendered %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 col-md input-group">
                            <span class="input-group-text">
                                <svg width="18px" height="18px" viewBox="0 0 512 512" id="Layer_1" version="1.1" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <style type="text/css">
                                    .st0{fill:none;stroke:#000000;stroke-width:2;}
                                    .st1{fill:none;stroke:#000000;stroke-width:16;}
                                </style>
                                <g>
                                    <g id="XMLID_654_">
                                        <g id="XMLID_150_">
                                            <path class="st0" d="M3473.6,261.7" id="XMLID_994_"/>
                                            <path class="st0" d="M3472.2,253h-6.3c0,0-2.9,0-2.9-2.9" id="XMLID_987_"/>
                                            <line class="st0" id="XMLID_992_" x1="3489.1" x2="3507.1" y1="271" y2="271"/>
                                            <line class="st0" id="XMLID_991_" x1="3489.1" x2="3489.1" y1="271" y2="289.1"/>
                                            <line class="st0" id="XMLID_990_" x1="3489.1" x2="3501.9" y1="271" y2="283.8"/>
                                            <line class="st0" id="XMLID_989_" x1="3489.1" x2="3498.4" y1="271" y2="255.6"/>
                                            <path class="st0" d="M3489.2,271.1c-2.7,6.5-8.9,10.7-16.4,10.7c-2.2,0-4.3-0.4-6.3-1.1c-0.6-0.2-0.9-1-0.5-1.6      l3.7-4.9c0.5-0.7,1.6-0.5,1.7,0.4c1.7,8.7,9.7,15.1,19,14.4c8.6-0.6,15.6-7.4,16.6-15.9c1.2-10.9-7.3-20.1-17.9-20.1h-16.9      c0,0.5-0.1,1-0.1,1.4C3472.1,263.9,3480,270.3,3489.2,271.1" id="XMLID_988_"/>
                                            <circle class="st0" cx="3486.3" cy="260.4" id="XMLID_985_" r="1.5"/>
                                        </g>
                                        <rect class="st0" height="64" id="XMLID_983_" width="64" x="3453" y="237.6"/>
                                    </g>
                                    <text id="XMLID_925_" style="font-family:'MyriadPro-Regular'; font-size:10px;" transform="matrix(1 0 0 1 3457.5781 319.1285)"/>
                                    <g id="XMLID_2_">
                                        <line class="st1" id="XMLID_5_" x1="126.6" x2="75" y1="385.4" y2="437"/>
                                        <line class="st1" id="XMLID_4_" x1="437" x2="367" y1="75" y2="145"/>
                                        <g id="XMLID_1_">
                                            <path d="M256,16c32.4,0,63.8,6.3,93.4,18.9c28.6,12.1,54.2,29.4,76.3,51.4c22,22,39.4,47.7,51.4,76.3      c12.5,29.6,18.9,61,18.9,93.4s-6.3,63.8-18.9,93.4c-12.1,28.6-29.4,54.2-51.4,76.3c-22,22-47.7,39.4-76.3,51.4      c-29.6,12.5-61,18.9-93.4,18.9s-63.8-6.3-93.4-18.9c-28.6-12.1-54.2-29.4-76.3-51.4c-22-22-39.4-47.7-51.4-76.3      C22.3,319.8,16,288.4,16,256s6.3-63.8,18.9-93.4c12.1-28.6,29.4-54.2,51.4-76.3c22-22,47.7-39.4,76.3-51.4      C192.2,22.3,223.6,16,256,16 M256,0C114.6,0,0,114.6,0,256s114.6,256,256,256s256-114.6,256-256S397.4,0,256,0L256,0z" id="XMLID_14_"/>
                                        </g>
                                        <g id="XMLID_8_">
                                            <path class="st1" d="M174.1,214.8" id="XMLID_20_"/>
                                            <path class="st1" d="M164.6,158.7h-40.7c0,0-18.9,0-18.9-18.9" id="XMLID_19_"/>
                                            <line class="st1" id="XMLID_18_" x1="273.3" x2="389" y1="274.4" y2="274.4"/>
                                            <line class="st1" id="XMLID_17_" x1="273.3" x2="273.3" y1="274.4" y2="390.2"/>
                                            <line class="st1" id="XMLID_13_" x1="273.3" x2="355.1" y1="274.4" y2="356.2"/>
                                            <line class="st1" id="XMLID_12_" x1="273.3" x2="333.1" y1="274.4" y2="175.4"/>
                                            <path class="st1" d="M273.9,275c-17.6,41.5-57.4,68.7-105.3,68.7c-14.3,0-27.9-2.6-40.5-7.3      c-4.1-1.5-5.6-6.5-3-10l23.6-31.4c3.2-4.3,10.2-2.9,11.2,2.4C171,353,222.1,394.2,282,389.9c54.9-4,100.3-47.5,106.3-102.2      c7.7-69.8-46.7-128.9-115-128.9H164.6c-0.3,3.1-0.4,6.2-0.4,9.3C164.2,228.6,214.5,270.1,273.9,275" id="XMLID_11_"/>
                                            <path class="st1" d="M245.4,206.3c0,5.4,4.4,9.9,9.8,9.9c5.4,0,9.9-4.4,9.9-9.9c0-5.4-4.4-9.8-9.9-9.8      C249.8,196.5,245.4,200.9,245.4,206.3z" id="XMLID_9_"/>
                                        </g>
                                    </g>
                                </g>
                                </svg>
                            </span>
                            <input class="form-control" placeholder="Vos allergies ici" name="{{ reservations.allergies.vars.full_name }}" id="{{ reservations.allergies.vars.id}}"
                            {% if app.user %} value="{{ app.user.allergies }}" {% endif %}>  
                            {% do reservations.allergies.setRendered %}                          
                        </div>
                    </div>
                                 
                    <div class="row" id="test"></div>  
                    {% do reservations.time.setRendered %}  
                    <div class="row">
                        <div class="col d-flex mx-auto">
                            <button type="submit" class="btn btn-primary btn-lg mx-auto">Réserver</button>
                        </div>
                    </div> 
                    
          
                </div>
            {{ form_end(reservations) }}
           
            

        </div>
        {% if modal is same as true %}
            <div id="modale" class="modale">
                <div class="modale-content">
                    Votre réservation a bien été prise en compte !
                    <a href="/reservation" class="modale-close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                        </svg>
                    </a>
                </div>
            </div>
        {% endif %}  
    </div>

{% endblock %}

{% block scripts %}   
    <script src="pageReserver/pageReserver.js"></script>
{% endblock %}    

